<div id="calendar-inner-container" class="calendar">
	<div>
<table class="table striped calendar-table" cellspacing="0" id="calendar_table" style="width: 450px;">
  <tbody>
    <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>

		<% approvedBookings.each(function(booking) { %>
			<% var startDate = new Date(booking.start_date) %>
			<% var endDate = new Date(booking.end_date) %>
			<% var availability = %>
		<% }); %>
    
      <tr>
          <td id="day_0" class="weekend in_the_past">
            <span class="dom">27</span>
          </td>
          <td id="day_1" class="realday in_the_past">
            <span class="dom">28</span>
          </td>
          <td id="day_2" class="realday in_the_past">
            <span class="dom">29</span>
          </td>
          <td id="day_3" class="realday in_the_past">
            <span class="dom">30</span>
          </td>
          <td id="day_4" class="realday in_the_past">
            <span class="dom">31</span>
          </td>
          <td id="day_5" class="realday in_the_past">
            <span class="dom">1</span>
          </td>
          <td id="day_6" class="weekend in_the_past">
            <span class="dom">2</span>
          </td>
      </tr>

      <tr>
          <td id="day_7" class="weekend in_the_past">
            <span class="dom">3</span>
          </td>
          <td id="day_8" class="realday in_the_past">
            <span class="dom">4</span>
          </td>
          <td id="day_9" class="realday in_the_past">
            <span class="dom">5</span>
          </td>
          <td id="day_10" class="realday in_the_past">
            <span class="dom">6</span>
          </td>
          <td id="day_11" class="realday in_the_past">
            <span class="dom">7</span>
          </td>
          <td id="day_12" class="realday available">
            <span class="dom">8</span>
              <br>
              <div id="day_extra_12" class="extra">
                $95
              </div>
          </td>
          <td id="day_13" class="weekend available">
            <span class="dom">9</span>
              <br>
              <div id="day_extra_13" class="extra">
                $95
              </div>
          </td>
      </tr>

      <tr>
          <td id="day_14" class="weekend available">
            <span class="dom">10</span>
              <br>
              <div id="day_extra_14" class="extra">
                $95
              </div>
          </td>
          <td id="day_15" class="realday available">
            <span class="dom">11</span>
              <br>
              <div id="day_extra_15" class="extra">
                $95
              </div>
          </td>
          <td id="day_16" class="realday available">
            <span class="dom">12</span>
              <br>
              <div id="day_extra_16" class="extra">
                $95
              </div>
          </td>
          <td id="day_17" class="realday available">
            <span class="dom">13</span>
              <br>
              <div id="day_extra_17" class="extra">
                $95
              </div>
          </td>
          <td id="day_18" class="realday available">
            <span class="dom">14</span>
              <br>
              <div id="day_extra_18" class="extra">
                $95
              </div>
          </td>
          <td id="day_19" class="realday unavailable">
            <span class="dom">15</span>
              <br>
              <div id="day_extra_19" class="extra">
                $95
              </div>
          </td>
          <td id="day_20" class="weekend unavailable">
            <span class="dom">16</span>
              <br>
              <div id="day_extra_20" class="extra">
                $95
              </div>
          </td>
      </tr>

      <tr>
          <td id="day_21" class="weekend unavailable">
            <span class="dom">17</span>
              <br>
              <div id="day_extra_21" class="extra">
                $95
              </div>
          </td>
          <td id="day_22" class="realday unavailable">
            <span class="dom">18</span>
              <br>
              <div id="day_extra_22" class="extra">
                $95
              </div>
          </td>
          <td id="day_23" class="realday available">
            <span class="dom">19</span>
              <br>
              <div id="day_extra_23" class="extra">
                $95
              </div>
          </td>
          <td id="day_24" class="realday available">
            <span class="dom">20</span>
              <br>
              <div id="day_extra_24" class="extra">
                $95
              </div>
          </td>
          <td id="day_25" class="realday available">
            <span class="dom">21</span>
              <br>
              <div id="day_extra_25" class="extra">
                $95
              </div>
          </td>
          <td id="day_26" class="realday available">
            <span class="dom">22</span>
              <br>
              <div id="day_extra_26" class="extra">
                $95
              </div>
          </td>
          <td id="day_27" class="weekend available">
            <span class="dom">23</span>
              <br>
              <div id="day_extra_27" class="extra">
                $95
              </div>
          </td>
      </tr>

      <tr>
          <td id="day_28" class="weekend available">
            <span class="dom">24</span>
              <br>
              <div id="day_extra_28" class="extra">
                $95
              </div>
          </td>
          <td id="day_29" class="realday available">
            <span class="dom">25</span>
              <br>
              <div id="day_extra_29" class="extra">
                $95
              </div>
          </td>
          <td id="day_30" class="realday available">
            <span class="dom">26</span>
              <br>
              <div id="day_extra_30" class="extra">
                $95
              </div>
          </td>
          <td id="day_31" class="realday available">
            <span class="dom">27</span>
              <br>
              <div id="day_extra_31" class="extra">
                $95
              </div>
          </td>
          <td id="day_32" class="realday available">
            <span class="dom">28</span>
              <br>
              <div id="day_extra_32" class="extra">
                $95
              </div>
          </td>
          <td id="day_33" class="realday available">
            <span class="dom">29</span>
              <br>
              <div id="day_extra_33" class="extra">
                $95
              </div>
          </td>
          <td id="day_34" class="weekend available">
            <span class="dom">30</span>
              <br>
              <div id="day_extra_34" class="extra">
                $95
              </div>
          </td>
      </tr>
  </tbody>
</table>
</div>
<div class="calendar-notice">
The calendar is updated every five minutes and is only an approximation of availability.

Some hosts set custom pricing for certain days on their calendar, like weekends or holidays. The rates listed are per day and do not include any cleaning fee or rates for extra people the host may have for this listing. Please refer to the listing's Description tab for more details.

We suggest that you contact the host to confirm availability and rates before submitting a reservation request.
</div>
</div>