<div class="calendar-page">
	<div class="calendar-show">

	
	</div>
	
	<div class="calendar-notice">
	The calendar is updated every five minutes and is only an approximation of availability.

	Some hosts set custom pricing for certain days on their calendar, like weekends or holidays. The rates listed are per day and do not include any cleaning fee or rates for extra people the host may have for this listing. Please refer to the listing's Description tab for more details.

	We suggest that you contact the host to confirm availability and rates before submitting a reservation request.
	</div>
</div>