<div class="content"></div>



<div class="page-container page-container-fixed">
  <div class="row">
    <div class="span4 text-copy">
      <h3 class="text-special">Travel</h3>
      <p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
      <p><a href="/help/getting-started/how-to-travel">
        See how to travel on Airbnb</a></p>
    </div>

    <div class="span4 text-copy">
      <h3 class="text-special">Host</h3>
      <p>Renting out your unused space could pay your bills or fund your next vacation.</p>
      <p><a href="/help/getting-started/how-to-host">
        Learn more about hosting</a></p>
    </div>

    <div class="span4 text-copy">
      <h3 class="text-special">
        Trust and Safety
      </h3>

      <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
      <p><a href="/trust">
        Learn about trust at Airbnb</a></p>
    </div>
  </div>
</div>