

<div id="sliderFrame" style="box-shadow: 2px 2px 3px #666;">
	    <div id="slider">
				<% pad.attachments().each(function (attachment) { %>
				<a><img src="<%= attachment.get("url") %>"></a>
				<% }); %>
	    </div>
	    <!--thumbnails-->
	    <div id="thumbs">
				<% pad.attachments().each(function (attachment){ %>
				<div class="thumb"><img src="<%= attachment.get("url") %>"></div>					
				<% });%>
	    </div>

	    <!--captions-->
	    <!-- <div style="display: none;">
	        <div id="htmlcaption1">
	            <div class="cap"></div>
	        </div>
	        <div id="htmlcaption2">
	            <div class="cap cap2"></div>
	        </div>
	        <div id="htmlcaption3">
	            <div class="cap cap3"></div>
	        </div>
	        <div id="htmlcaption4">
	            <div class="cap cap4"></div>
	        </div>
	    </div> -->

</div>