<div class="container">
	<h2>All of your friends!!</h2>
		<ul>
		<% @users.each do |user| %>
			<li><img style="width: 30px; height: 30px;" src="<%= user.profile_photo.url(:small) %>">
			<%= user.f_name + " " + user.l_name %></li><br>

		<% end %>
		</ul>
</div>