<!-- <div style='width: 800px;'>
  <div id="map" style='width: 600px; height: 600px; padding-bottom: 20px'></div>
</div> -->

<div style="width: 685px;">
	<div id="map-canvas" style="height: 600px; padding-bottom: 20px;"/>
</div>