/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.slider
 *= require jquery.ui.tooltip
 *= require bootstrap-datetimepicker
 *= require fullcalendar
 *= require js-image-slider
 *= require_self
 *= require_tree .
 */

body {
	padding-bottom: 70px;
	h3 {
		font-family: 'Playfair Display', serif;
		font-weight: 900;
		font-style: italic;
	}
	background-color: #F5A9A9;
	font-family: 'Lato', sans-serif;

	.carousel-control {
		opacity: 0.1;
		background-color: none;
		border: 0;
	}
	.carousel-indicators {
		top: 550px;
		right: 680px;
	}
}

.input-searchbox {
}

.sidebar {
	float: left;
}

.content {
	float: left;
	width: 100%;
}

.main-search {
	position: absolute;
	margin-left: 200px;
	margin-top: 100px;
	margin-bottom: 10px;
}

.neighborhoods {
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: auto;
}

.sub-neighborhoods.span4.about {
	font-size: 100%;
}

.sub-neighborhoods {
	margin: 20px;
	font-size: 300%;
	width: 400px;
	height: 300px;
	float: left;
	.cities {
		opacity: 0;
		position: absolute;
		color: #dbdbdb;
		margin-top: 86px;
		padding-top: 50px;
		z-index: 1;
		text-align: center;
		width: 400px;
	}
	.cities-icon {
		border-radius: 4px;
		box-shadow: 0 0 2px #999;	
		opacity: 1;
	}
	.cities-icon:hover {
		box-shadow: 0 0 4px #333;	
		opacity: 0.8;
	}
}

.page-container.page-container-fixed {
	width: 1320px;
	height: 100%;
	padding: 50px;
	margin: auto;
	.span4.text-copy {
		margin: 20px;
		width: 400px;
		height: 300px;
		float: left;
	}
}

.table.striped.calendar-table {
	box-shadow: 0 0 2px #999;
}

.sidebar-left {
	float: left;
	position: fixed;
}

.sidebar-right {

	float: right;
	width: 820px;
	.pad-names {
		font-size: 15px;
		opacity: 1;
		position: absolute;
		color: #dbdbdb;
		z-index: 1;
		width: 350px;
	}
	
	.pad-icon {
		font-size: 140%;
		float: left;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 350px;
		height: 233px;
		box-shadow: 0 0 2px #999;	
	}
	.pad-icon:hover {
		box-shadow: 0 0 4px #333;	
	}
	.icon-photo {
		opacity: 0.9;
	}
	.icon-photo:hover {
		opacity: 1;
	}
}

.value {
	text-align: right;
}

.span4.side {
	.side-detail {
		.book {
			border: 1px solid #dbdbdb;
			border-radius: 2px;	
			margin-bottom: 10px;
			background-color: #fefefe;
			.book-info {
				border-bottom: 1px solid #dbdbdb;
				padding: 20px;
				background-color: #efefef;
				.from {
					font-size: 20px;
				}
				.price {
					color: green;
					font-size: 35px;
					font-style: bold;
					margin-bottom: 5px;
				}
			}
			.book-btn {
				padding: 20px;
				.btn.btn-primary.book-btn {
					padding: 5px;
					width: 320px;
					height: 50px;
					font-size: 30px;
				}
			}
		}
		
		.rating-box {
			border: 1px solid #dbdbdb;
			border-radius: 2px;	
			margin-bottom: 10px;
			background-color: #fefefe;
			.rating {
				text-align: center;
				border-bottom: 1px solid #dbdbdb;
				padding: 20px;
				background-color: #efefef;
				.stars {
					color: #E55451;
					font-size: 40px;
				}
			}	
		}

		.owner {
			text-align: center;
			margin-top: 10px;
			border: 1px solid #dbdbdb;
			border-radius: 2px;
			background-color: #efefef;
			.profile-pic {
				padding: 20px;
			}
			.owner-info {
				padding: 20px;
				margin-top: 10px;
				border: 1px solid #dbdbdb;
				border-radius: 2px;
				background-color: #fefefe;
				font-size: 20px;
				font-style: bold;
				line-height: 27px;
			}
		}	
	}
}

.row.pagedetail {
	margin-left: 80px;
	margin-right: 80px;
	padding-bottom: 20px;
	.span8.detail-display{
		display: block;
		border-radius: 2px;
		background-color: #fefefe;
		margin-bottom: 12.5px;
		box-sizing: border-box;
		.visual {
			border: 1px solid #dbdbdb;
			background-color: #efefef;
			border-radius: 2px;
			padding: 20px;
			width: 728px;
			.nav.nav-tabs {
				margin: 0;
			}
			.nav {
				margin-bottom: 0;
			}
			.visualContent {
				background: white;
				padding: 20px;
				margin: auto;
			}
		}
		.details {
			border: 1px solid #dbdbdb;
			background-color: #efefef;
			margin-top: 20px;
			border-radius: 2px;
			padding: 20px;
			width: 728px;
			display: inline-block;
			.leftbar {
				float: left;
				width: 464px;
			}
			.rightbar {
				float: right;
				width: 264px;
			}
		}
	}
}



.item {
	position: absolute;
	z-index: -1;
}

.main-search {
	color: white;
	position: absolute;
	z-index: 1;
	text-shadow: 2px 2px black;
}

.amenity {
	padding-left: 25px;
	width: 200px;
	display: inline-block;
}

.guide {
	z-index: -1;
}

.trip-search {
	border-bottom: 1px solid #efefef;
}

.form-horizontal.trip-form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: #333333;
}

.room-search {
	margin-top: 20px;
	border-bottom: 1px solid #efefef;
	height: 80px;
	.span2.room-type-search {
		width: 120px;
	}
	.span2.trip-search-title {
		width: 150px;
	}
}

.form-horizontal.drop-down {
	margin-left: 20px;
	width: 100px;
}

.filter-primary-item.span2 {
	margin-left: 80px;
	display: block;
	text-align: center;
	float: left;
	margin: 0 10px 20px 0;
	cursor: pointer;
	border: 1px solid #e9e9e9;
	background: #fff;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 0 4px #efefef;
}

.filter-primary-item.span2:visited {
	border: 1px solid #ff0000;
}

.filter-primary-item.span2:hover {
	border: 1px solid #ff0000;
}

.btn.btn-primary.login-facebook {
	background: #3b5998;
	width: 320px;
	height: 40px;
	font-size: 25px;
	margin-bottom: 10px;
}

#slider-range-min {
	width: 600px;
}

.price-search-box {
	border-bottom: 1px solid #efefef;
	padding-top: 20px;
	padding-bottom: 20px;
	h6 {
		width: 120px;
	}
	input {
		margin-top: 6px;
		width: 70px;
	}
	#slider-range-min {
		margin-top: 8px;
		display: inline-block;
		width: 500px;
	}
}

.photolinks {
	width: 200px;
	height: 200px;
}

.amen-checkbox {
	float: left;
	margin: 0px 5px;
}

.date-search-box {
	width: 130px;
}

.search-form_datetime {
	margin-bottom: 0 !important;
}

.form-horizontal.drop-down {
	margin-bottom: 0 !important;
}

.carousel-image {
	z-index: -1;
}

.glyphicon.glyphicon-chevron-right.index {
	font-size: 30px;
}

.glyphicon.glyphicon-chevron-left.index {
	font-size: 30px;	
}

.gmnoprint img {
    max-width: none; 
}

.fc-event-inner {
	height: 50px;
}

.row.neighborhood-row {
	margin-left: 20px;
}