/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.sidebar {
	float: left;
}

.content {
	float: left;
	width: 100%;
}

.jumbotron {
	background: -webkit-linear-gradient(left, #a90329 14%,#6d0019 100%); 
	color: white;
//	background-color: #B4045F;
	width: 100%;
	height: 500px;
}

.main-search {
	position: absolute;
	margin-left: 200px;
	margin-top: 100px;
	margin-bottom: 10px;
}

.neighborhoods {
	width: 100%;
	height: 100%;
}

.sub-neighborhoods {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 300%;
	width: 450px;
	height: 450px;
	float: left;
	border: solid 1px black;
}

.sidebar-left {
	float: left;
}

.sidebar-right {
	float: left;
	.pad-icon {
		font-size: 140%;
		float: left;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 100px;
		margin-bottom: 100px;
		width: 300px;
		height: 300px;
		border: dotted 5px black;
	}
}

.visual .tab {
	float: left;
	margin-left: 10px;
}

.details .tab {
	float: left;
	margin-left: 10px;
}

.pad-page {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	.main-detail {
		float: left;
		width: 800px;
	}
	.side-detail {
		border: dotted 2px black;
		float: left;
		width: 300px;
		height: 600px;
	}
}

.book {
	width: 100%;
	font-size: 180%;
	display: inline-block;
}

//#visualTabs {
//	list-style: none;
//	margin: 0;
//	padding: 0;
//	line-height: 24px;
//}
//
//#visualTabs li {
//	margin: 0 10px;
//	padding: 0 10px;
//	border: 1px solid #AAA;
//	background: #ECECEC;
//	float: left;
//}
//
//#detailTabs {
//	text-align: center;
//	list-style: none;
//	margin: 0;
//	padding: 0;
//	line-height: 24px;
//}
//
//#detailTabs li {
//	margin: 0 10px;
//	padding: 0 10px;
//	border: 1px solid #AAA;
//	background: #ECECEC;
//	display: inline-block;
//}
