<h2><%= pad.escape("name") %></h2>
<b><%= pad.escape("room_type") %></b> ~ <%= pad.escape("address") %>

<div class="visual">
	<div id="visualTabs" class="tabs">
		<div class="tab" id="photos"><b>Photos</b></div>
		<div class="tab" id="maps"><b>Maps</b></div>
		<div class="tab" id="street-view"><b>Street View</b></div>
		<div class="tab" id="calendar"><b>Calendar</b></div>
	</div>
	
	<div id="visualContent">
	</div>
</div>

<div class="details">
	<div id="detailTabs" class="tabs">
		<div class="tab" id="description"><b>Description</b></div>
		<div class="tab" id="amenities"><b>Amenities</b></div>
	</div>
	
	<div id="detailContent">
	</div>
</div>

<div class="book">From<br>$79</div>
