<div class="sidebar-left">
	<div style='width: 600px;'>
	  <div id="map" style='width: 600px; height: 700px;'></div>
	</div>
</div>

<div class="sidebar-right">
	<div class="filter">
		<h6 class="span2 trip-search">TRIP</h6>
		<form class="form-horizontal trip-form">
		Check In <input size="16" type="text" class="form_datetime">
		Check Out <input size="16" type="text" class="form_datetime">		
		<select class="form-horizontal drop-down">
			<option value="1">1 Guest</option>
			<option value="2">2 Guests</option>
			<option value="3">3 Guests</option>
			<option value="4">4 Guests</option>
			<option value="5">5 Guests</option>
			<option value="6">6 Guests</option>
			<option value="7">7 Guests</option>					
			<option value="8">8 Guests</option>
			<option value="9">9 Guests</option>
			<option value="10">10 Guests</option>
			<option value="11">11 Guests</option>
			<option value="12">12 Guests</option>
			<option value="13">13 Guests</option>
			<option value="14">14 Guests</option>
		</select>
		</form>
		<h6 class="span2 room-type-search">ROOM TYPE</h6>
			<div class="filter-primary-item span2" data-name="Entire Home/Apt">
				<span class="glyphicon glyphicon-home"></span><br>
				Entire Home/Apt
			</div>
			
			<div class="filter-primary-item span2" data-name="Private Room">
				<span class="glyphicon glyphicon-headphones"></span><br>
				Private Room
			</div>
			
			<div class="filter-primary-item span2" data-name="Shared Room">
				<span class="glyphicon glyphicon-user"></span>
				<span class="glyphicon glyphicon-user"></span><br>
				Shared Room</div><br>
				
		<div class="price-search-box">
		<h6 class="span2 price-search">PRICE</h6>
			  <input type="text" id="amount" value="$0" style="border: 0; color: #f6931f; font-weight: bold;" />
				<div id="slider-range-min"></div>
		</div>
		
	</div>
	<div class="pads-list">
		<% pads.each(function(pad) { %>
			<div class="pad-icon">
				<a href="#pads/<%= pad.id %>">
				<img src="/assets/large.jpg">
				<%= pad.escape("name") %>				
			</div>
		<% }); %>
	</div>
</div>