
<div class="sidebar-left">
	<div style='width: 600px;'>
	  <div id="map" style='width: 600px; height: 700px;'></div>
	</div>
</div>

<div class="sidebar-right">
	<div class="filter">
		<div class="trip-search">

			<form class="form-horizontal trip-form">
				<h6 class="span2 trip-search-title">TRIP</h6>
				<div class="input-append date index-form_datetime">
				    <input class="date-search-box" type="text" name="index-search[check_in]" placeholder="Check In">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>
				<div class="input-append date index-form_datetime">
				    <input class="date-search-box" type="text" name="index-search[check_in]" placeholder="Check In">
				    <span class="add-on"><i class="icon-th"></i></span>
				</div>

				<select class="form-horizontal drop-down" name="index-search[num_guests]">
					<option value="1">1 Guest</option>
					<option value="2">2 Guests</option>
					<option value="3">3 Guests</option>
					<option value="4">4 Guests</option>
					<option value="5">5 Guests</option>
					<option value="6">6 Guests</option>
					<option value="7">7 Guests</option>					
					<option value="8">8 Guests</option>
					<option value="9">9 Guests</option>
					<option value="10">10 Guests</option>
					<option value="11">11 Guests</option>
					<option value="12">12 Guests</option>
					<option value="13">13 Guests</option>
					<option value="14">14 Guests</option>
					<option value="15">15 Guests</option>
					<option value="16">16+ Guests</option>					
				</select>
			</form>
		</div>
		
		
		<div class="room-search">
			<h6 class="span2 room-type-search">ROOM TYPE</h6>
				<div class="filter-primary-item span2" data-name="Entire Home/Apt">
					<span class="glyphicon glyphicon-home"></span><br>
					Entire Home/Apt
				</div>
			
				<div class="filter-primary-item span2" data-name="Private Room">
					<span class="glyphicon glyphicon-headphones"></span><br>
					Private Room
				</div>
			
				<div class="filter-primary-item span2" data-name="Shared Room">
					<span class="glyphicon glyphicon-user"></span>
					<span class="glyphicon glyphicon-user"></span><br>
					Shared Room</div><br>
		</div>
				
		<div class="price-search-box">
		<h6 class="span2 price-search">PRICE</h6>
			  <input type="text" id="amount" value="$0" style="border: 0; color: #f6931f; font-weight: bold;" />
				<div id="slider-range-min"></div>
		</div>
		
	</div>
	<div class="pads-list">
		<% pads.each(function(pad) { %>
			<a href="#pads/<%= pad.id %>">
				<div class="pad-icon icon-image">
					<% if (pad.attachments().models[0] != undefined) { %>
						<img src="<%= pad.attachments().models[0].get("url") %>">
					<% } else { %>
						<img src="assets/large.jpg">
					<% } %>
				</div>
			</a>
		<% }); %>
	</div>
</div>

