<div class="well container navbar-static-bottom" style="display: inline-block; width: 100%;">
Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2013. All Rights Reserved by Baconbnb
</div>